/ top navigation
.top_nav
  .nav_menu
    %nav{:role => "navigation"}
      .nav.toggle
        %a#menu_toggle
          %i.fa.fa-bars
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.user-profile.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
            = image_tag "img.jpg"
            John Doe
            %span.fa.fa-angle-down
          %ul.dropdown-menu.dropdown-usermenu.pull-right
            %li
              %a{:href => "javascript:;"} Profile
            %li
              %a{:href => "javascript:;"}
                %span.badge.bg-red.pull-right 50%
                %span Settings
            %li
              %a{:href => "javascript:;"} Help
            %li
              %a{:href => "login.html"}
                %i.fa.fa-sign-out.pull-right
                Log Out
        %li.dropdown{:role => "presentation"}
          %a.dropdown-toggle.info-number{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
            %i.fa.fa-envelope-o
            %span.badge.bg-green 6
          %ul#menu1.dropdown-menu.list-unstyled.msg_list{:role => "menu"}
            %li
              %a
                %span.image
                  = image_tag "img.jpg"
                %span
                  %span John Smith
                  %span.time 3 mins ago
                %span.message
                  Film festivals used to be do-or-die moments for movie makers. They were where...
            %li
              %a
                %span.image
                  = image_tag "img.jpg"
                %span
                  %span John Smith
                  %span.time 3 mins ago
                %span.message
                  Film festivals used to be do-or-die moments for movie makers. They were where...
            %li
              %a
                %span.image
                  = image_tag "img.jpg"
                %span
                  %span John Smith
                  %span.time 3 mins ago
                %span.message
                  Film festivals used to be do-or-die moments for movie makers. They were where...
            %li
              %a
                %span.image
                  = image_tag "img.jpg"
                %span
                  %span John Smith
                  %span.time 3 mins ago
                %span.message
                  Film festivals used to be do-or-die moments for movie makers. They were where...
            %li
              .text-center
                %a
                  %strong See All Alerts
                  %i.fa.fa-angle-right
/ /top navigation
