/ page content
.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3 Plain Page
      .title_right
        .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
          .input-group
            %input.form-control{:placeholder => "Search for...", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-default{:type => "button"} Go!
    .clearfix
    .row
      .col-md-12.col-sm-12.col-xs-12
        .x_panel{:style => "height:600px;"}
          .x_title
            %h2 Plain Page
            %ul.nav.navbar-right.panel_toolbox
              %li
                %a.collapse-link
                  %i.fa.fa-chevron-up
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  %i.fa.fa-wrench
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Settings 1
                  %li
                    %a{:href => "#"} Settings 2
              %li
                %a.close-link
                  %i.fa.fa-close
            .clearfix
/ /page content
/ Test Page specific JS
:javascript
  alert ('Test JS')
