!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GentelellaOnRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body.nav-md
    .container.body
      = render "partials/sidenav"
      = render "partials/topnav"
      = yield
      = render "partials/footer"
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
